<div class="unicorn-search"
     ng-class="{
      'input-group': config.showClearBtn && !disabled,
      'unicorn-search--disabled': disabled,
      'unicorn-search--active': state.focused || (state.open && results.length > 0)
    }">

  <div  class="unicorn-search__inner form-control"
        ng-class="{'unicorn-search__inner--focused': state.focused,
                   'unicorn-search__inner--open': (state.open && results.length > 0)}">

    <ul class="unicorn-chips">
      <li ng-repeat="chip in selectedItems" class='unicorn-chips__chip'>
        {{itemToString(chip)}}
        <button type="button"
                ng-click="removeItem(chip)"
                tabindex="-1"
                ng-if="!disabled">
          &times;
        </button>
      </li>
    </ul>

    <div class="unicorn-search__input" ng-hide="disabled">
      <i class="glyphicon"
         ng-class="{
            'glyphicon-refresh glyphicon-spin': state.loading,
            'glyphicon-search': !state.loading
          }"></i>

      <input  tabindex="0"
              type="text"
              size="{{calculateInputSize()}}"
              class="unicorn-search__focusable"
              placeholder="{{state.maximumReached ? (translations.maximumReached || 'maximum reached'): ''}}"
              ng-click="openResults();"
              ng-model="search"
              ng-keydown="handleKeyboardInput($event)"
              ng-focus="requestTouched();openResults();state.focused=true"
              ng-blur="state.focused=false" />
    </div>

    <div class="unicorn-suggestions">
      <ul ng-if="state.open && results.length > 0">
        <li class="unicorn-suggestions__headline">
          <strong>
            {{results.length}}
            {{results.length > 1 ? translations.resultPlural || 'results' : translations.resultSingular || 'result'}}
          </strong>
        </li>
        <li ng-repeat="result in results" class="unicorn-suggestions__result">

          <button type="button"
                  class="unicorn-search__focusable"
                  ng-click="selectItem(result)"
                  ng-if="!isAlreadySelected(result)"
                  tabindex="0"
                  ng-keydown="handleKeyboardInput($event)"
                  onMouseOver="this.focus()"
                  ng-focus="focussedResult=result"
                  ng-blur="focussedResult=undefined"
                  ng-class="{'active': (state.focused && getFirstSelectableItemFromResults() === result) || focussedResult === result}">
            {{itemToString(result)}}
          </button>

          <span class="unicorn-suggestions__result--already-selected" ng-if="isAlreadySelected(result)">
             {{itemToString(result)}}
             {{translations.alreadySelected || 'is already selected'}}
           </span>

        </li>
      </ul>
    </div>
  </div>

  <span class="input-group-btn" ng-if="config.showClearBtn && !disabled">
    <button type="button" class="btn btn-danger unicorn-search__btn-append" ng-click="clear()">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </span>
</div>

<span class="help-block unicorn-hints" ng-if="state.nothingFound || state.tooLessLetters || state.loadingError">
  <span ng-if="state.nothingFound" class="unicorn-hints__hint text-warning">{{translations.nothingFound || 'Nothing found.'}}</span>
  <span ng-if="state.tooLessLetters" class="unicorn-hints__hint text-muted">{{translations.tooLessChars || 'Search term too short.'}}</span>
  <span ng-if="state.loadingError" class="unicorn-hints__hint text-danger">{{translations.errorFetchingResults || 'Could not fetch results.'}}</span>
</span>